* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: lightsteelblue;
}

header {
  text-align: center;
  width: 80vw;
  margin: 2rem auto;
  padding: 2rem ;
 }

.inputForm {
  width: 80vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.inputForm input {
  width: 15rem;
  height: 2.0rem;
  margin-left: 3.3rem;
  border-radius: 2.0rem;
  padding: 0.5rem 1.0rem;
  border: none;
}

.inputForm button {
  padding: 0.487rem .7rem;
  margin: 0 .5rem 1.0rem .5rem;
  height: 2.0rem;
  border-radius: 2.0rem;
  background-color: whitesmoke;
}

.todoList {
  width: 100vw;
  margin: 2rem auto;
}

.todo {
  margin: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}


.icons .fa-check {
  padding: 0.487rem .5rem;
  margin-bottom: 1.0rem;
  height: 2.0rem;
  border-radius: 2.0rem;
  background: rgb(83, 164, 195);
}

.icons .fa-trash {
  padding: 0.487rem .5rem;
  margin-bottom: 1.0rem;
  height: 2.0rem;
  border-radius: 2.0rem;
  background: rgb(197, 70, 81);
}

.todoText {
  min-width: 15rem;
  margin: 0 .5rem 1.0rem .5rem;
  height: 2.0rem;
  border-radius: 2.0rem;
  padding: 0.3rem 1.5rem;
  background: white;
}


button {
  border: none;
}